body {
  font-family: 'Open Sans', Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-family: 'Tangerine', cursive;
// }

.overlay,
.overlay * {
  color: $text-color-overlay;
  text-shadow: 0 0 1px rgba(0, 0, 0, .6);
}
