html {
  height: 100%;
  min-height: 100%;

  body {
    // @include transition-duration(.75s);
    // @include transition-property(all);
    // @include transition-timing-function(ease-in-out);
    background-color: $nav-bg;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    // width: calc(100% + #{$sidebar-width});

    > div,
    > nav {
      @include transition-duration(.75s);
      @include transition-property(all);
      @include transition-timing-function(ease-in-out);
    }

    > div {
      background-color: $body-bg;
      // height: 100%;
      // margin-right: $sidebar-width;
      min-height: 100vh;
      // padding-right: $sidebar-width;
      width: 100%;

      > header,
      > #content,
      > footer {
        @include container-fixed;
      }

      > header {
        height: $navbar-height;
        left: 0;
        padding-top: 1.25rem;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 3;

        @media print {
          display: none;
        }

        > .navbar-brand {
          // padding-left: 0;
          // .make-sm-column(4);
          display: inline-block;
          padding-left: 0;
        }

        > menu {
          // .lh-transition(transform 0.25s 0.05s ease);
          // .translateX(0);
          // .make-sm-column(8);
          display: block;
          float: right;
          margin: 0;

          @media (min-width: $screen-xs) {
            padding-left: 0;
          }

          // @media (max-width: $screen-xs-max) {
          //   text-align: right;
          // }

          > li {
            display: inline-block;

            // @media (min-width: $screen-xs) {
            //   &.hidden-xs {
            //     display: inline-block !important;
            //   }
            // }

            > a,
            > button {
              padding: 1.5rem;

              // @media (max-width: $screen-xs-max) {
              //   margin-right: 15px;
              // }

              // @media (min-width: $screen-xs) {
              //   padding: 15px;
              // }

            }

            &:last-child {

              > button {
                padding-right: 0;
              }

            }

          }

        }

      }

      > #content {
        // background-color: $body-bg;
        // height: 100%;
        /* Negative indent footer by its height */
        margin-bottom: -$footer-height;
        margin-top: 0;
        // min-height: 100%;
        /* Pad bottom by footer height */
        // padding-top: $navbar-height;
        padding-bottom: $footer-height;
        // padding-top: $navbar-height;
        position: relative;
        z-index: 2;

        @media print {
          margin-bottom: 0;
          padding-bottom: 0;
          padding-top: 0;
        }

        > .page-header {
          margin-top: 0;
        }

      }

      /* Set the fixed height of the footer here */
      > footer {
        border-top: 1px solid #f0f0f0;
        height: $footer-height;
        padding-top: 70px;
        position: relative;
        z-index: 3;

        @media print {
          display: none;
        }

        ul {
          list-style: none;
          padding-left: 0;
          text-align: center;

          li {
            display: inline;
            margin-left: 1rem;
            margin-right: 1rem;
          }

        }

      }

    }

    > nav {
      @include transform(translateX($sidebar-width));
      background-color: $nav-bg;
      height: 100%;
      // padding: 15px 30px;
      padding-top: $navbar-height;
      // position: absolute;
      position: fixed;
      right: 0;
      top: 0;
      width: $sidebar-width;
      z-index: 1;

      @media print {
        display: none;
      }

      > button.close {
        color: $btn-primary-color;
        opacity: 1;
        padding: 1.5rem;
        position: absolute;
        right: 0;
        top: 0;

        &:active,
        &:focus,
        &:hover {
          color: $gray-lighter;
          outline: none;
        }

      }

      > hr {
        margin-left: 3rem;
        margin-right: 3rem;
      }

      > ul {
        list-style: none;
        margin-bottom: 15px;
        padding-left: 0;

        > li {
          // background-color: transparent;
          // border: transparent;

          > a {
            color: $btn-primary-color;
            display: block;
            padding: .5rem 1.5rem;
            text-transform: uppercase;
          }

        }

      }

      > div {
        text-align: center;

        > a {
          color: $btn-primary-color;
          font-size: 2rem;
          padding: 9px;

          > span {
            display: none;
          }

        }

      }

    }

    &.clear-header {

      #content {
        padding-top: $navbar-height;
      }

    }

    &.sidebar-open {

      > div {
        @include transform(translateX(-$sidebar-width));
      }

      > nav {
        @include transform(translateX(0));
      }

    }

  }

}
