html {
  height: 100%;
  // min-height: 100%;

  body {
    // @include transition-duration(.75s);
    // @include transition-property(all);
    // @include transition-timing-function(ease-in-out);
    background-color: $nav-bg;
    height: 100%;
    // min-height: 100%;
    // overflow-x: hidden;
    // overflow-y: auto;
    position: relative;
    // width: calc(100% + #{$sidebar-width});


    > .navbar-default {
      @include transition-delay(500ms);
      // height: $navbar-height;
      // left: 0;
      // padding-top: 1.25rem;
      // position: fixed;
      // top: 0;
      width: 100%;
      // z-index: 3;

      @media print {
        display: none;
      }

      .navbar-brand,
      .nav a,
      .nav button {
        @include transition(all 500ms ease);
      }

      // > .navbar-brand {
      //   @include transition(all 500ms ease);
      //   color: $navigation-color;
      //   display: inline-block;
      //   padding-left: 0;
      // }

      // > menu {
      //   display: block;
      //   float: right;
      //   margin: 0;
      //
      //   @media (min-width: $screen-xs) {
      //     padding-left: 0;
      //   }
      //
      //   > li {
      //     display: inline-block;
      //
      //     > a,
      //     > button {
      //       @include transition(all 500ms ease);
      //       color: $navigation-color;
      //       padding: 1.5rem;
      //     }
      //
      //     &:last-child {
      //
      //       > button {
      //         padding-right: 0;
      //       }
      //
      //     }
      //
      //   }
      //
      // }

    }

    > div,
    > nav {
      @include transition-duration(750ms);
      @include transition-property(all);
      @include transition-timing-function(ease-in-out);
    }

    > div,
    > nav.sidebar {
      @include transition-delay(0ms);
    }

    > div {
      // background-color: $body-bg;
      height: 100%;
      // margin-right: $sidebar-width;
      // min-height: 100vh;
      // padding-right: $sidebar-width;
      width: 100%;

      // > header,
      > #content,
      > footer {
        @include container-fixed;
      }

      #content {
        background-color: $body-bg;
        // height: 100%;
        /* Negative indent footer by its height */
        height: auto !important;
        height: 100%;
        // margin: 0 auto -155px;
        margin-bottom: -$footer-height;
        margin-top: 0;
        // min-height: 100%;
        /* Pad bottom by footer height */
        // padding-top: $navbar-height;
        padding-bottom: $footer-height;
        // padding-top: $navbar-height;
        position: relative;
        z-index: 2;

        min-height: 100%;

        @media print {
          margin-bottom: 0;
          padding-bottom: 0;
          padding-top: 0;
        }

        .page-header {
          margin-top: 50px;
        }

        aside {

          > h1 {
            font-size: 1.8rem;
          }

        }

        // main {
        // }

      }

      /* Set the fixed height of the footer here */
      > footer {
        border-top: 1px solid #f0f0f0;
        height: $footer-height;
        padding-top: 70px;
        position: relative;
        z-index: 3;

        @media print {
          display: none;
        }

        ul {
          list-style: none;
          padding-left: 0;
          text-align: center;

          li {
            display: inline;
            margin-left: 1rem;
            margin-right: 1rem;
          }

        }

      }

    }

    > nav.sidebar {
      // @include transition(all 500ms ease);
      // @include transition(translateX($sidebar-width) 500ms ease 500ms);
      @include transform(translateX($sidebar-width));
      background-color: $nav-bg;
      height: 100%;
      // padding: 15px 30px;
      padding-top: $navbar-height;
      // position: absolute;
      position: fixed;
      right: 0;
      top: 0;
      width: $sidebar-width;
      z-index: 1;

      @media print {
        display: none;
      }

      > button.close {
        color: $btn-primary-color;
        opacity: 1;
        padding: 1.5rem;
        position: absolute;
        right: 0;
        top: 0;

        &:active,
        &:focus,
        &:hover {
          color: $gray-lighter;
          outline: none;
        }

      }

      > hr {
        margin-left: 3rem;
        margin-right: 3rem;
      }

      > ul {
        list-style: none;
        margin-bottom: 15px;
        padding-left: 0;

        > li {
          // background-color: transparent;
          // border: transparent;

          > a {
            color: $btn-primary-color;
            display: block;
            padding: .5rem 3rem;
            text-transform: uppercase;
          }

        }

      }

      > div {
        text-align: center;

        > a {
          color: $btn-primary-color;
          font-size: 2rem;
          padding: 9px;

          > span {
            display: none;
          }

        }

      }

    }

    .pills {
      @include vertical-align-middle(fixed);
      right: 15px;

      a {
        display: block;
        margin-bottom: 15px;
        margin-top: 15px;
        padding: 5px;

        &.active,
        &:focus,
        &:hover {

          span {
            transform: scale(2.5);
          }

        }

        span {
          // @include border-radius(5px);
          @include transition(all 500ms ease);
          background-color: $navigation-color;
          // box-shadow: 0 0 1px rgba(255, 255, 255, 1);
          // color: #000;
          direction: ltr;
          display: block;
          height: 1px;
          text-indent: -9999px;
          width: 10px;

        }

      }

    }

    &.clear-header {

      #content {
        padding-top: $navbar-height;

        > div {

          .page-header {
            margin-top: 0;
          }

        }

      }

    }

    &.sidebar-open {

      > .navbar-default {
        @include transition-delay(0ms);
        // left: -$sidebar-width;
        opacity: 0;

        // .navbar-brand {
        //   opacity: 0;
        // }
        //
        // > menu {
        //
        //   > li {
        //
        //     > a,
        //     > button {
        //       opacity: 0;
        //     }
        //
        //   }
        //
        // }

      }

      > div,
      > nav.sidebar {
        @include transition-delay(500ms);
      }

      > div {
        @include transform(translateX(-$sidebar-width));
      }

      .pills {

        a {

          span {
            opacity: 0;
          }

        }

      }

      > nav.sidebar {
        @include transform(translateX(0));
      }

    }

    &.inverse-lightness {

      > .navbar-default {

        .navbar-brand {
          color: $navigation-color-inverse;
        }

        .nav {

          > li {

            > a,
            > button {
              color: $navigation-color-inverse;
            }

          }

        }

      }

      main {

        .pills {

          a {

            span {
              background-color: $navigation-color-inverse;
            }

          }

        }

      }

    }

  }

}
