.sass-cache
.tmp
app/bower_components/
app/images/sample/
data/
dist
icons-*.png
node_modules
scss-lint-report.xml
source/bower_components/
source/images/sample/
test/bower_components/
test/temp

/build/
