      </div><!-- /.row -->

      <footer data-ui-view="footer">

        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/terms">Terms</a></li>
          <li><a href="/press">Press</a></li>
        </ul>

        <span>&copy; 2014 Cook AdLib, Inc.</span>

      </footer>

    </div><!-- /.container -->

    <% include sidebar.html %>

    <script src="/scripts/vendor.js"></script>
    <script src="/scripts/main.js"></script>

    <% include livereload.html %>

  </body>

</html>
