<!doctype html>
<html class="no-js" data-ng-app="<%= ngApp %>">

  <head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Cook AdLib</title>

    <meta name="description" content="Sample app" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <base href="/">

    <!-- <link href="http://fonts.googleapis.com/css?family=Tangerine|Open+Sans:300italic,300,600" media="all" rel="stylesheet" type="text/css" /> -->

    <!-- build:css styles/library.css -->
    <link href="/styles/library.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <!-- endbuild-->

    <!-- build:css styles/screen.css -->
    <link href="/styles/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <!-- endbuild-->

    <!-- build:css styles/print.css -->
    <link href="/styles/print.css" media="print" rel="stylesheet" type="text/css" />
    <!-- endbuild-->

    <!--[if IE]>
        <link href="/styles/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->

    <!-- Browser chrome
    ================================================== -->
    <link rel="shortcut icon" href="/images/chrome/favicon.png" />

    <!-- iPhone -->
    <link href="/images/chrome/apple-touch-icon-57x57.png" sizes="57x57" rel="apple-touch-icon" />
    <link href="/images/chrome/apple-touch-startup-image-320x460.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image" />

    <!-- iPhone (Retina) -->
    <link href="/images/chrome/apple-touch-icon-114x114.png" sizes="114x114" rel="apple-touch-icon" />
    <link href="/images/chrome/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />

    <!-- iPhone 5 -->
    <link href="/images/chrome/apple-touch-startup-image-640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />

    <!-- iPad -->
    <link href="/images/chrome/apple-touch-icon-72x72.png" sizes="72x72" rel="apple-touch-icon" />
    <link href="/images/chrome/apple-touch-startup-image-768x1024.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image" />
    <link href="/images/chrome/apple-touch-startup-image-748x1024.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image" />

    <!-- iPad (Retina) -->
    <link href="/images/chrome/apple-touch-icon-144x144.png" sizes="144x144" rel="apple-touch-icon" />
    <link href="/images/chrome/apple-touch-startup-image-1536x2008.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="/images/chrome/apple-touch-startup-image-1496x2048.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />

    <!-- Fix initial load size for iPhone -->

    <script src="/bower_components/platform/platform.js"></script>

    <link rel="import" href="/bower_components/core-ajax/core-ajax.html" />

    <link rel="import" href="/bower_components/element-navigation/component.html" />
    <link rel="import" href="/views/_elements/header.html" />
    <link rel="import" href="/views/_elements/footer.html" />

    <link rel="import" href="/views/_elements/list.html" />
    <link rel="import" href="/views/_elements/greeting.html" />
    <link rel="import" href="/views/_elements/blog.html" />

  </head>

  <body class="<%= bodyClass %>">

    <% include google.analytics.html %>

    <a class="sr-only" href="#content">Skip to main content</a>

    <% include navbar.html %>

    <div><!-- .container -->

      <div id="content"><!-- .row -->
