<nav data-ui-view="nav">

  <button type="button" class="close" data-action="toggle" data-target="sidebar-open" aria-hidden="true">&times;</button>

  <ul>
    <li>
      <a ui-sref="#">Tour</a>
    </li>
    <li>
      <a ui-sref="#">Log in</a>
    </li>
  </ul>

  <ul>
    <li>
      <a ui-sref="#">My Planner</a>
    </li>
    <li>
      <a ui-sref="#">My Diet</a>
    </li>
    <li>
      <a ui-sref="#">My Shopping List</a>
    </li>
  </ul>

  <ul>
    <li>
      <a ui-sref="#">Editorial</a>
    </li>
    <li>
      <a ui-sref="#">Recipes</a>
    </li>
    <li>
      <a ui-sref="#">Shopping Assistant</a>
    </li>
  </ul>

  <ul>
    <li>
      <a ui-sref="#">Help &amp; Support</a>
    </li>
  </ul>

  <hr />

  <ul>
    <li>
      <a ui-sref="#">About Cook AdLib</a>
    </li>
    <li>
      <a ui-sref="#">Blog</a>
    </li>
    <li>
      <a ui-sref="#">Developers</a>
    </li>
    <li>
      <a ui-sref="#">Press &amp; Media</a>
    </li>
    <li>
      <a ui-sref="#">Terms of Service</a>
    </li>
    <li>
      <a ui-sref="#">Privacy Policy</a>
    </li>
    <li>
      <a ui-sref="#">Contact Us</a>
    </li>
  </ul>

  <hr />

  <div>
    <a href="#">
      <span>Twitter</span><i class="fa fa-twitter"></i>
    </a>
    <a href="#">
      <span>Facebook</span><i class="fa fa-facebook"></i>
    </a>
    <a href="#">
      <span>Google+</span><i class="fa fa-google-plus"></i>
    </a>
    <a href="#">
      <span>YouTube</span><i class="fa fa-youtube"></i>
    </a>
    <a href="#">
      <span>Tumblr</span><i class="fa fa-tumblr"></i>
    </a>
    <a href="#">
      <span>Reddit</span><i class="fa fa-arrow-circle-o-up"></i>
    </a>
  </div>

</nav>
