.navbar-default {
  // background-color: rgba(255,255,255,0.975);
  background-color: transparent;

  border-color: transparent;
  // @include background-image(linear-gradient(to bottom, #fff 0%, #fff 100%));
  // @include background-image(linear-gradient(to bottom, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%));

  .navbar-brand {
    // color: #fff;
  }

  .navbar-nav {
    >li {
      > a {
        // color: #fff;

        &:hover,
        &:focus {
          // color: #fff;
        }
      }

      > .dropdown-menu {
        border: 0;
        border-radius: 0;
        box-shadow: none;
      }

      &.active {
        > a {
          :hover,
          :focus {
            background-color: transparent;
            // color: #fff;
          }
        }
      }
    }

    &.navbar-right {
      > li {
        > a,
        > button {
          padding: 15px;
        }
      }
    }
  }
}
