<main id="content-main" class="home">

    <section class="full-height album current">
        <a href="#">
            <figure>
                <div class="img grayscale" style="background-image: url(/images/sample/352153-sepik.jpg);"></div>
                <figcaption>
                    <h1>Rustic loaf</h1>
                    <h2>Spanish artisanal bread</h2>
                </figcaption>
            </figure>
        </a>
    </section>

    <section class="full-height matrix overview">
        <div class="col-xs-12">
            <div class="row">
                <a class="col-xs-12 col-md-4" href="#">
                    <figure>
                        <img class="img-responsive grayscale" src="http://ppcdn.500px.org/42110744/8a43c73b5cf87d5184d2270cf1274dd39b76634a/5.jpg">
                        <figcaption class="gradient">
                            <h1>Rustic loaf</h1>
                            <h2>Spanish artisanal bread</h2>
                        </figcaption>
                    </figure>
                </a>
                <a class="col-xs-12 col-md-4" href="#">
                    <figure>
                        <img class="img-responsive grayscale" src="http://ppcdn.500px.org/15738063/816505896518cd1eb75e1e1d7c63bb1336cb1d72/5.jpg">
                        <figcaption class="gradient">
                            <h1>Rustic loaf</h1>
                            <h2>Spanish artisanal bread</h2>
                        </figcaption>
                    </figure>
                </a>
                <a class="col-xs-12 col-md-4" href="#">
                    <figure>
                        <img class="img-responsive grayscale" src="http://farm5.staticflickr.com/4116/4783162153_5232d2c073_b.jpg">
                        <figcaption class="gradient">
                            <h1>Rustic loaf</h1>
                            <h2>Spanish artisanal bread</h2>
                        </figcaption>
                    </figure>
                </a>
            </div>
        </div>
    </section>

    <section class="full-height icons">
        <div class="col-xs-12">
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-tag"></i>
            <i class="fa fa-tags"></i>
            <i class="fa fa-user"></i>
            <i class="fa fa-sign-in"></i>
            <i class="fa fa-sign-out"></i>
            <i class="fa fa-reply"></i>
            <i class="fa fa-cutlery"></i>
            <i class="fa fa-code-fork"></i>
            <i class="fa fa-calendar"></i>
            <i class="fa fa-ban"></i>
            <i class="fa fa-bars"></i>
            <i class="fa fa-bar-chart-o"></i>
            <i class="fa fa-bookmark"></i>
            <i class="fa fa-camera"></i>
            <i class="fa fa-comment"></i>
            <i class="fa fa-comments"></i>
            <i class="fa fa-compass"></i>
            <i class="fa fa-credit-card"></i>
            <i class="fa fa-info"></i>
            <i class="fa fa-map-marker"></i>
            <i class="fa fa-print"></i>
            <i class="fa fa-refresh fa-spin"></i>
            <i class="fa fa-question"></i>
            <i class="fa fa-rss"></i>
            <i class="fa fa-share"></i>
            <i class="fa fa-tasks"></i>
            <i class="fa fa-trash-o"></i>
            <i class="fa fa-trophy"></i>
            <i class="fa fa-sort"></i>
            <i class="fa fa-sort-asc"></i>
            <i class="fa fa-sort-desc"></i>
            <i class="fa fa-align-justify"></i>
            <i class="fa fa-th-large"></i>
            <i class="fa fa-copy"></i>
            <i class="fa fa-clipboard"></i>
            <i class="fa fa-th"></i>
            <i class="fa fa-columns"></i>
            <i class="fa fa-cog"></i>
            <i class="fa fa-bell"></i>
            <i class="fa fa-globe"></i>
            <i class="fa fa-inbox"></i>
            <i class="fa fa-search"></i>
        </div>
    </section>

</main>
