<% include ../_includes/major-header.html %>

<main id="content-main" class="signup">

  <header class="page-header">
    <h1>Create an account</h1>
  </header>

  <section class="col-xs-12">

    <form class="form-horizontal" role="form">
      <div>
        <fieldset>
          <legend>Your account credentials</legend>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="user[username]">Username</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="user[username]" placeholder="Enter username">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="user[password]">Password</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="user[password]" placeholder="Enter password">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="user[password-confirmation]">Password confirmation</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="user[password-confirmation]" placeholder="Enter password again">
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Your name</legend>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="user[nickname]">Nickname</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="user[nickname]" placeholder="Enter nickname">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="user[given-name]">Given name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="user[given-name]" placeholder="Enter given name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="user[family-name]">Family name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="user[family-name]" placeholder="Enter family name">
            </div>
          </div>
        </fieldset>
      </div>
      <div>
        <fieldset>
          <legend>Your contact details</legend>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="user[email]">Email address</label>
            <div class="col-sm-8">
              <input type="email" class="form-control" id="user[email]" placeholder="Enter email">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="user[telephone]">Telephone number</label>
            <div class="col-sm-8">
              <input type="tel" class="form-control" id="user[telephone]" placeholder="Enter telephone number">
            </div>
          </div>
          <br /><br />
          <div class="form-group">
            <label class="col-sm-4 control-label" for="user[street-address]">Street address</label>
            <div class="col-sm-8">
              <textarea class="form-control" id="user[street-address]" placeholder="Enter street address" rows="3"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="user[locality]">Locality</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="user[locality]" placeholder="Enter locality">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="user[region]">Region</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="user[region]" placeholder="Enter region">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="user[postal-code]">Postal code</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="user[postal-code]" placeholder="Enter postal code">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="user[country]">Country</label>
            <div class="col-sm-8">
              <select class="form-control" id="user[country]" placeholder="Enter country">
                <option disabled selected>Enter country</option>
                <option>France</option>
                <option>Germany</option>
                <option>Italy</option>
                <option>United Kingdom</option>
                <option>United States</option>
              </select>
            </div>
          </div>
          <br /><br />
          <div class="form-group">
            <label class="col-sm-4 control-label" for="user[site]">Website/Blog URL</label>
            <div class="col-sm-8">
              <input type="url" class="form-control" id="user[site]" placeholder="Enter your website or blog URL">
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Your details</legend>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="user[date-of-birth]">Date of birth</label>
            <div class="col-sm-8">
              <input type="datetime" class="form-control" id="user[date-of-birth]" placeholder="Enter date of birth">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="user[gender]">Gender</label>
            <div class="col-sm-8">
              <div class="radio-inline">
                <label>
                  <input type="radio" name="gender" id="user[gender1]" value="male">
                  Male
                </label>
              </div>
              <div class="radio-inline">
                <label>
                  <input type="radio" name="gender" id="user[gender2]" value="female">
                  Female
                </label>
              </div>
              <div class="radio-inline">
                <label>
                  <input type="radio" name="gender" id="user[gender3]" value="do not specify" checked>
                  Do not specify
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="user[avatar]">Avatar</label>
            <div class="col-sm-8">
              <figure class="thumbnail" id="user[avatar-uploaded]">
                <img src="/images/user-black.png" alt="Your uploaded profile image">
              </figure>
              <input type="file" id="user[avatar]">
              <span class="help-block">Upload a profile image</span>
              <button type="button" class="btn btn-link btn-inline hidden-xs" data-action="enterFullScreen" data-fullscreen="user[avatar-uploaded]">View avatar in full screen mode.</button>
            </div>
          </div>
        </fieldset>
        </fieldset>
      </div>
      <div>
        <fieldset>
          <legend>Your cooking skills</legend>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="user[skill-level]">Proficiency</label>
            <div class="col-sm-8">
              <input type="range" id="user[skill-level]" placeholder="Enter your skill level" min="1" max="10">
              <span class="help-block">On a scale of 1-10, how confident are you in the kitchen?</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="user[tastes]">Tastes</label>
            <div class="col-sm-8">
              <input type="range" id="user[tastes]" placeholder="Enter your desire to try new tastes" min="1" max="10">
              <span class="help-block">On a scale of 1-10, how likely are you try new tastes?</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="user[techniques]">Techniques</label>
            <div class="col-sm-8">
              <input type="range" id="user[techniques]" placeholder="Enter your desire to try new techniques" min="1" max="10">
              <span class="help-block">On a scale of 1-10, how likely are you try new techniques?</span>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Your notification settings</legend>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="user[news-email]">
              Please send me Cook AdLib news by e-mail
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="user[news-sms]">
              Please send me Cook AdLib news by sms
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="user[partner-marketing]">
              Please share the details above with our content providers for marketing purposes
            </label>
          </div>
        </fieldset>
      </div>
      <footer>
        <fieldset>
          <div class="col-sm-10">
            <div class="checkbox">
              <label class="control-label" for="user[acceptance]">
                <input type="checkbox" id="user[acceptance]"> I accept the <a href="#terms">terms &amp; conditions</a>
              </label>
            </div>
          </div>
          <div class="col-sm-2">
            <button type="submit" class="btn btn-default pull-right">Confirm my details</button>
          </div>
        </fieldset>
      </footer>
<!--
Email notifications
Immediately	Once daily	Never
Friends from Facebook join Spotify
People subscribe to your playlists
A playlist I subscribe to is updated
There's activity from friends
Recommendations & Suggestions
New album release
New follower
Spotlight recommendations
Disable all email notifications
-->
    </form>

  </section>

</main>

<% include ../_includes/major-footer.html %>
