<nav class="sidebar" id="sidebar-contextual" data-ui-view="sidebar-contextual">

  <button type="button" class="close" data-action="toggle" data-target="sidebar-open" aria-hidden="true">&times;</button>

  <h2>Sort</h2>

  <h3>Name</h3>

  <button data-action="sort" data-value="a-z">Sort A-Z</button>
  <button data-action="sort" data-value="z-a">Sort Z-A</button>


  <h2>Filter</h2>

  <h3>Taste</h3>

  <button data-action="filter" data-category="taste" data-value="sweet">Sweet</button>
  <button data-action="filter" data-category="taste" data-value="sour">Sour</button>
  <button data-action="filter" data-category="taste" data-value="bitter">Bitter</button>
  <button data-action="filter" data-category="taste" data-value="salty">Salty</button>
  <button data-action="filter" data-category="taste" data-value="savory">Savory (umami)</button>
  <button data-action="filter" data-category="taste" data-value="pungent">Pungent</button>
  <button data-action="filter" data-category="taste" data-value="metallic">Metallic</button>

  <h3>Cuisine</h3>
  <select>
    <option>Italian</option>
    <option>Turkish</option>
  </select>

</nav>
