<div class="col-xs-12 col-sm-6 layout-3">

  <div class="row row-xs-2">

    <figure class="overlay col-xs-4">
      <div class="img grayscale" data-src="http://lorempixel.com/240/300/food/2"></div>
      <figcaption class="overlay">
        <h2>Image title</h2>
        <a href="#">View more</a>
      </figcaption>
    </figure>

    <figure class="overlay col-xs-8">
      <div class="img grayscale" data-src="http://lorempixel.com/480/300/food"></div>
      <figcaption class="overlay">
        <h2>Image title</h2>
        <a href="#">View more</a>
      </figcaption>
    </figure>

  </div><!-- /.row -->

  <div class="row row-xs-2">

    <figure class="overlay col-xs-4">
      <div class="img grayscale" data-src="http://lorempixel.com/240/180/food/4"></div>
      <figcaption class="overlay">
        <h2>Image title</h2>
        <a href="#">View more</a>
      </figcaption>
    </figure>

    <figure class="overlay col-xs-4">
      <div class="img grayscale" data-src="http://lorempixel.com/240/180/food/5"></div>
      <figcaption class="overlay">
        <h2>Image title</h2>
        <a href="#">View more</a>
      </figcaption>
    </figure>

    <figure class="overlay col-xs-4">
      <div class="img grayscale" data-src="http://lorempixel.com/240/180/food/6"></div>
      <figcaption class="overlay">
        <h2>Image title</h2>
        <a href="#">View more</a>
      </figcaption>
    </figure>

  </div><!-- /.row -->

</div><!-- /.col-xs-4 -->
