<div class="col-xs-12 col-sm-6 layout-4">

  <div class="row">

    <figure class="overlay col-xs-8">
      <div class="img grayscale" data-src="http://lorempixel.com/480/480/food"></div>
      <figcaption class="overlay">
        <h2>Image title</h2>
        <a href="#">View more</a>
      </figcaption>
    </figure>

    <div class="col-xs-4">

      <div class="row row-xs-2">

        <figure class="overlay col-xs-12">
          <div class="img grayscale" data-src="http://lorempixel.com/240/300/food/3"></div>
          <figcaption class="overlay">
            <h2>Image title</h2>
            <a href="#">View more</a>
          </figcaption>
        </figure>

      </div><!-- /.row -->

      <div class="row row-xs-2">

        <figure class="overlay col-xs-12">
          <div class="img grayscale" data-src="http://lorempixel.com/240/180/food/7"></div>
          <figcaption class="overlay">
            <h2>Image title</h2>
            <a href="#">View more</a>
          </figcaption>
        </figure>

      </div><!-- /.row -->

    </div><!-- /.col-xs-6 -->

  </div><!-- /.row -->

</div><!-- /.col-xs-4 -->
