<% include ../_includes/major-header.html %>

<div>

  <main data-ui-view="main">

    <section>
      <h1>Ingredients</h1>

      <figure>
        <img src="images/ingredients/lemon.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/orange.jpg" alt="Orange">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/blueberry.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/lime.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/vanilla.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/garlic.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/strawberry.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/raspberry.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/lemon.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/orange.jpg" alt="Orange">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/blueberry.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/lime.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/vanilla.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/garlic.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/strawberry.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/raspberry.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/lemon.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/orange.jpg" alt="Orange">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/blueberry.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/lime.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/vanilla.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/garlic.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/strawberry.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/raspberry.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/lemon.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/orange.jpg" alt="Orange">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/blueberry.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/lime.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/vanilla.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/garlic.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/strawberry.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/raspberry.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/lemon.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/orange.jpg" alt="Orange">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/blueberry.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/lime.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/vanilla.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/garlic.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/strawberry.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/raspberry.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/lemon.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/orange.jpg" alt="Orange">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/blueberry.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/lime.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/vanilla.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/garlic.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/strawberry.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

      <figure>
        <img src="images/ingredients/raspberry.jpg" alt="Lemon">
        <figcaption>
          <h1>A cheeky macaque, Lower Kintaganban River, Borneo.</h1>
          <a href="#">View details</a>
        </figcaption>
      </figure>

    </section>

  </main>

  <aside>
  </aside>

</div>

<% include ../_includes/major-footer.html %>
