a,
.btn,
.btn-link {
  color: $gray-darker;

  // &:hover,
  // &:focus {
  //   background-color: transparent;
  //   color: $gray-dark;
  // }

  &:active,
  &:active:focus,
  &:focus,
  &:hover, {
    background-color: transparent;
    color: $gray-dark;
    outline: none;
  }

  &.btn-inline {
    padding: 0;
    vertical-align: baseline;
  }

  .fa,
  .flag-icon {
    margin-right: 1rem;
  }

}
