form {
  // > div,
  // > footer {
  //   @include make-row;
  // }

  > footer {
    border-top: .1rem solid $legend-border-color;
    padding-top: 1.5rem;

    fieldset {
      button {
        @media (max-width: $screen-xs-max) {
          margin-top: 1rem;
          width: 100%;
        }
      }
    }
  }

  textarea {
    resize: none;
  }

  input[type=range] {
    width: 100%;
  }
}
